name: Test APWorld
on:
  push:
    branches: [main, ci]
  pull_request:
    branches: [main]


jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: Eijebong/ap-actions/ap-tests@dev
        with:
          apworld-path: empty
          ap-version: 'latest'
          python-version: '3.12'
